<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="site_logo"></div>

        <div id="templatemo_menu">
            <div id="templatemo_menu_left"></div>
            <ul>
                <li><a href="~/Home/Index">Home</a></li>
                <li>@Html.ActionLink("Quiz Manager", "Index", "Quizs")</li>
                <li>@Html.ActionLink("Agent Manager", "Index", "Agents")</li>
            </ul>
        </div>
    </div>
</div>
